@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap');

:root {
	--white: #fdf7fa;
	--border-color: green;
	--primary-color: #f0dac5;
	--secondary-color: #50223c;

	--prm-font-color: #;
	--sec-font-color: #;

	--hglt-color: #1c2340;
	--button-color: #f0dac5;

	--online-color: green;
	--offline-color: red;
}

body {
	font-family: 'Noto Sans Mono', monospace;
	background: var(--primary-color);

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 0;
  margin-right: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	border: 1px solid black;
	border-top: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.navItem {
	flex: 1;
}

#view-button {
    border: 1px red;
    height: 10vh;
	color: var(--primary-color);
	background: var(--hglt-color);
	border: solid 1px var(--primary-color);
	border-radius: 10px;
	transition-duration: 0.8s;
	cursor: pointer;
}

#time {
	border: solid 1px black;
	border-radius: 30px;
	background: var(--hglt-color);
	color: var(--primary-color);
	margin: .5vh;
	padding: .5vw;
}

.page {
	padding-top: 5vh;
}

.navbar {
	position: fixed;
	left: 0px;
	top: 0;
	width: 100vw;
	height: 9vh;
	background: var(--secondary-color);
	text-align: center;
	border: 1px solid black;
	display: flex;
	align-items: flex-end;
}

a {
	color: var(--sec-font-color);
	background: var(--button-color);
	border: solid 1px black;
	border-radius: 30px;
	width: 25vw;
	padding: 5px;
	margin: 2px;
	font-size: 1.15em;
	text-decoration: none;
}

a:hover, a:active {
	color: var(--primary-color);
	background: var(--hglt-color);
	border: solid 1px var(--primary-color);
	border-radius: 10px;
	transition-duration: 0.8s;
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.navbar a {
  		float: none;
	  	display: block;
	}
}
.online {
	color: var(--online-color);

}

.offline {
	color: var(--offline-color);
}

table {
	border: 2px solid var(--border-color);
}

th {
	border: 1.5px solid var(--border-color);
}

td {
	border: 1px dotted black;
}
